<figure>
    <img src={{cover}}>
  <h2>
    <a href="{{tracksUrl}}">{{title}}</a>
  </h2>
  <h3>{{artist}}</h3>
  <p>{{date}}</p>
  <p>${{format_price price}}</p>
  <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>add to cart</a>
</figure>